@font-face {
    font-family: 'Enviro';
    src: url('../fonts/Enviro LET.ttf')  format('truetype');
}

body{
    font-family:'Enviro';
}
.btn, .badge{
    font-family:Tahoma, Arial;
}

.panel-heading h2{
    margin:0;
}

